[remote]
host = carbonate.uits.iu.edu
port = 22
user = your_user
key_file = /absolute/path/to/id_rsa
passphrase = pa$5phrase_for_1d_r5a

[hpc]
gres = gpu:v100:1
partition = dl
gpuram = 32

[cronjob]
dropbox = /absolute/path/to/dropbox
lockfile = /absolute/path/to/lockfile

[hpc_env]
workspace = /absoute/remote/path/hpc_batch/workspace
scripts = /absolute/remote/path/hpc_batch/scripts
containers = /absolute/path/to/containers