#!/bin/bash
module load singularity
exec singularity run --nv \
        --bind <<workspace>>:/mnt \
        <<containers>>/inaspeech.sif \
        /mnt/input/<<input>>
        /mnt/output/<<segments>>

